In [10]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [11]:
#conda install -c conda-forge gmaps

In [12]:
#pip install gmaps

In [13]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dalen,NL,2021-10-20 21:19:35,52.6992,6.7556,59.25,91,44,11.01
1,1,Ushuaia,AR,2021-10-20 21:17:09,-54.8000,-68.3000,55.06,38,20,6.91
2,2,Khatanga,RU,2021-10-20 21:19:35,71.9667,102.5000,20.86,97,100,4.61
3,3,Mackay,AU,2021-10-20 21:19:36,-21.1500,149.2000,75.04,80,28,9.51
4,4,Butaritari,KI,2021-10-20 21:19:36,3.0707,172.7902,81.54,74,34,9.64

In [14]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [15]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [16]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [20]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [26]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Mackay,AU,2021-10-20 21:19:36,-21.1500,149.2000,75.04,80,28,9.51
4,4,Butaritari,KI,2021-10-20 21:19:36,3.0707,172.7902,81.54,74,34,9.64
9,9,Houma,US,2021-10-20 21:15:43,29.5958,-90.7195,84.20,82,75,6.91
14,14,Paciran,ID,2021-10-20 21:19:39,-6.8767,112.3761,79.38,82,55,3.67
17,17,Puerto Ayora,EC,2021-10-20 21:19:40,-0.7393,-90.3518,82.36,81,100,10.11
19,19,Tecoanapa,MX,2021-10-20 21:19:41,16.5167,-98.7500,84.76,69,100,8.32
31,31,Guayaramerin,BO,2021-10-20 21:19:45,-10.8368,-65.3614,85.69,62,82,4.07
40,40,Nchelenge,ZM,2021-10-20 21:19:49,-9.3451,28.7340,79.75,53,96,4.83
41,41,Makakilo City,US,2021-10-20 21:19:49,21.3469,-158.0858,82.72,48,40,5.75
43,43,Hirara,JP,2021-10-20 21:19:31,24.8000,125.2833,79.43,71,100,12.55

In [27]:
preferred_cities_df.count()

City_ID       182
City          182
Country       182
Date          182
Lat           182
Lng           182
Max Temp      182
Humidity      182
Cloudiness    182
Wind Speed    182
dtype: int64

In [28]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
3          Mackay      AU     75.04 -21.1500  149.2000
4      Butaritari      KI     81.54   3.0707  172.7902
9           Houma      US     84.20  29.5958  -90.7195
14        Paciran      ID     79.38  -6.8767  112.3761
17   Puerto Ayora      EC     82.36  -0.7393  -90.3518
19      Tecoanapa      MX     84.76  16.5167  -98.7500
31   Guayaramerin      BO     85.69 -10.8368  -65.3614
40      Nchelenge      ZM     79.75  -9.3451   28.7340
41  Makakilo City      US     82.72  21.3469 -158.0858
43         Hirara      JP     79.43  24.8000  125.2833

In [36]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [37]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Mackay,AU,75.04,-21.1500,149.2000,International Lodge Motel
4,Butaritari,KI,81.54,3.0707,172.7902,Isles Sunset Lodge
9,Houma,US,84.20,29.5958,-90.7195,Courtyard by Marriott Houma
14,Paciran,ID,79.38,-6.8767,112.3761,Tanjung Kodok Beach Resort
17,Puerto Ayora,EC,82.36,-0.7393,-90.3518,Finch Bay Galapagos Hotel
19,Tecoanapa,MX,84.76,16.5167,-98.7500,Hotel Manglares
31,Guayaramerin,BO,85.69,-10.8368,-65.3614,Hostal Funf
40,Nchelenge,ZM,79.75,-9.3451,28.7340,KD Travellers Home
41,Makakilo City,US,82.72,21.3469,-158.0858,Marriott's Ko Olina Beach Club
43,Hirara,JP,79.43,24.8000,125.2833,Hotel Atoll Emerald Miyakojima

In [40]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [42]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))