## Deliverable 2. Create a Customer Travel Destinations Map.

In [51]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [52]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Riohacha,CO,11.5444,-72.9072,89.46,59,27,16.69,scattered clouds
1,1,Barrow,US,71.2906,-156.7887,27.30,94,100,15.84,overcast clouds
2,2,Pochutla,MX,15.7432,-96.4661,74.82,88,97,2.30,overcast clouds
3,3,Ahipara,NZ,-35.1667,173.1667,60.60,97,99,1.72,light rain
4,4,Khatanga,RU,71.9667,102.5000,13.10,92,100,17.18,overcast clouds

In [53]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 90

In [54]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Riohacha,CO,11.5444,-72.9072,89.46,59,27,16.69,scattered clouds
2,2,Pochutla,MX,15.7432,-96.4661,74.82,88,97,2.30,overcast clouds
5,5,East London,ZA,-33.0153,27.9116,66.04,64,65,30.09,broken clouds
11,11,Maragogi,BR,-9.0122,-35.2225,84.09,67,86,13.22,overcast clouds
13,13,Kabo,CF,7.6994,18.6290,79.77,80,29,4.61,scattered clouds
20,20,Vaini,TO,-21.2000,-175.2000,69.96,88,75,9.22,broken clouds
23,23,Prainha,BR,-1.8000,-53.4800,88.92,53,50,3.47,heavy intensity rain
24,24,Juruti,BR,-2.1522,-56.0922,89.64,57,83,3.31,light rain
27,27,Rikitea,PF,-23.1203,-134.9692,74.48,82,59,20.49,broken clouds
30,30,Mantua,IT,45.1667,10.7833,67.73,79,71,1.01,broken clouds

In [55]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                312
City                   312
Country                309
Lat                    312
Lng                    312
Max Temp               312
Humidity               312
Cloudiness             312
Wind Speed             312
Current Description    312
dtype: int64

In [56]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Riohacha,CO,11.5444,-72.9072,89.46,59,27,16.69,scattered clouds
2,2,Pochutla,MX,15.7432,-96.4661,74.82,88,97,2.30,overcast clouds
5,5,East London,ZA,-33.0153,27.9116,66.04,64,65,30.09,broken clouds
11,11,Maragogi,BR,-9.0122,-35.2225,84.09,67,86,13.22,overcast clouds
13,13,Kabo,CF,7.6994,18.6290,79.77,80,29,4.61,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
690,690,Abu Dhabi,AE,24.4667,54.3667,85.42,57,0,8.84,clear sky
691,691,Gijon,ES,43.5357,-5.6615,68.45,70,32,4.00,scattered clouds
696,696,Boyolangu,ID,-8.1181,111.8935,77.00,88,100,4.72,overcast clouds
699,699,Jaca,ES,42.5690,-0.5499,65.01,47,0,2.75,clear sky
700,700,Upata,VE,8.0086,-62.3989,84.20,63,83,8.28,broken clouds

In [57]:
clean_df.count()

City_ID                309
City                   309
Country                309
Lat                    309
Lng                    309
Max Temp               309
Humidity               309
Cloudiness             309
Wind Speed             309
Current Description    309
dtype: int64

In [58]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Riohacha,CO,89.46,scattered clouds,11.5444,-72.9072,
2,Pochutla,MX,74.82,overcast clouds,15.7432,-96.4661,
5,East London,ZA,66.04,broken clouds,-33.0153,27.9116,
11,Maragogi,BR,84.09,overcast clouds,-9.0122,-35.2225,
13,Kabo,CF,79.77,scattered clouds,7.6994,18.6290,
20,Vaini,TO,69.96,broken clouds,-21.2000,-175.2000,
23,Prainha,BR,88.92,heavy intensity rain,-1.8000,-53.4800,
24,Juruti,BR,89.64,light rain,-2.1522,-56.0922,
27,Rikitea,PF,74.48,broken clouds,-23.1203,-134.9692,
30,Mantua,IT,67.73,broken clouds,45.1667,10.7833,

In [59]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [79]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"] !=""]
clean_hotel_df.count()

City                   291
Country                291
Max Temp               291
Current Description    291
Lat                    291
Lng                    291
Hotel Name             291
dtype: int64

In [80]:
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Riohacha,CO,89.46,scattered clouds,11.5444,-72.9072,Hotel Taroa
2,Pochutla,MX,74.82,overcast clouds,15.7432,-96.4661,Hotel Posada San Jose
5,East London,ZA,66.04,broken clouds,-33.0153,27.9116,Tu Casa
11,Maragogi,BR,84.09,overcast clouds,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
20,Vaini,TO,69.96,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
23,Prainha,BR,88.92,heavy intensity rain,-1.8000,-53.4800,Casa Rocha
24,Juruti,BR,89.64,light rain,-2.1522,-56.0922,Hotel Acauã - ORLA
27,Rikitea,PF,74.48,broken clouds,-23.1203,-134.9692,People ThankYou
30,Mantua,IT,67.73,broken clouds,45.1667,10.7833,Hotel la Favorita
31,Bambous Virieux,MU,75.22,few clouds,-20.3428,57.7575,Casa Tia Villa

In [81]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [82]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [85]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))